* {
    font-family: 'Maven Pro', sans-serif;
}

.home {
    background-color: black;
    padding-left: 20px;
    color: white;
}

.main-h1 {
    text-align: center;
    padding-top: 50px;
}

.main-h2 {
    text-align: center;
}

.main-img {
    height: calc(100vh - 250px);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-small {
    text-align: center;
}
